*
{
	margin:0;
	padding:0;
}

h1
{
	color:#430A5D;
	text-align:left;
	font-family:Algerian;
	
	height:50px;
}
.grocery>img
{
	border-radius:40px;
}
.flex-container
{
	display:flex;
	justify-content:space-evenly;
}
.flex-items>img
{
  background:white;
	border:2px white;
	flex-direction:row;
	flex-wrap:wrap;
	height:200px;
	width:200px;
	padding-left:5px;
	margin:10px;	
	border-radius:20px;
	
}
.Sales>img
{
	border-radius:40px;
	justify-content:space-between;
}
.flex-item1
{
	background:white;
	border:2px white;
	flex-direction:row;
	flex-wrap:wrap;
	height:300px;
	width:300px;
	padding-left:10px;
	margin:1px;
	justify-content:center;
	
}
.flex-item1>img
{
	width:200px;
	height:200px;
	border-radius:50px;
	justify-content:space-between;
}

.logo
{
	margin-left:15px;
}

.head
{
	display:flex;
	background-color:#67C6E3;
	justify-content:space-between;
}

.logo
{
	margin-left:900px;
	color:black;
	padding-top: 10px;
	padding-left:25px;
	
	
}
.search
{
	flex-wrap: wrap;
}

.icon{
	padding-right:60px;
	padding-top:8px;
}

i
{
	padding:10px;
}
.flex-items
{
justify-content:space-evenly;
}
